@import "../abstracts/variables";
@import "../components/button";

.specializations {
  .addOrEdit {
    height: 500px;
    color: #000;
    .modules_list {
      position: relative;
      left: -15px;
      width: 104.5%;
      height: 60%;
      overflow-y: scroll;
      border-top: 1px solid rgb(213, 213, 213);
      border-bottom: 1px solid rgb(213, 213, 213);
      .addOrEdit_modules {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        .modules_dot_module {
          display: flex;
          align-items: center;
          gap: 20px;
        }
        .button {
          @extend .btn;
        }
      }
    }
    ::-webkit-scrollbar {
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      background: rgb(171, 171, 171);
      border-radius: 10px;
      transition: linear all 150ms;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(101, 101, 101);
    }
    .clear_all {
      width: 100%;
      display: flex;
      justify-content: end;
      .clear_all_btn {
        @extend .btn;
        color: #3772ff;
        background: rgb(234, 240, 255);
      }
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    input {
      background: $body__background;
      border: 1px solid rgb(189, 189, 189);
      border-radius: 5px;
      padding: 5px;
    }
    .desc_input {
      height: 48px;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    .right_modules {
      position: relative;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0 0 0 20px;
      width: 200px;
      height: 87px;
      background: $nav__background__color;
      color: #fff;
      font-size: 17px;
      border-radius: 9px;
      transition: linear all 150ms;
      .right_modules_btn {
        position: absolute;
        right: 8px;
        top: 9px;
        width: 35px;
        height: 80%;
        border: none;
        background: $green__color;
        border-radius: 105px 18px 18px 105px;
        .modules_btn_p {
          font-size: 25px;
          transition: linear all 150ms;
        }
        .modules_btn_p_rotated {
          transform: rotate(45deg);
        }
      }
      .right_modules_btn_clicked {
        background: $red__color;
      }
      .isActive_p {
        position: absolute;
        font-size: 11px;
        left: 10px;
        bottom: 10px;
        color: $green__color;
      }
      .isActive_p_false {
        color: $red__color;
      }
    }
    .right_modules_clicked {
      background: $body__background;
      color: #000;
    }
  }
}

.addOrEdit__Chekkers {
  width: 100%;
  height: 55px;
  padding: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  .button {
    @extend .btn;
  }
  .btn_checker {
    border: 1px solid rgb(189, 189, 189);
    display: flex;
    align-items: center;
    color: #000;
    .check_p {
      margin: 0 5px;
    }
  }
  .btn_cancel {
    color: $red__color;
    text-decoration: none;
    background: #ffd3de;
  }
  .btn_save {
    background: $green__color;
  }
}
