* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eff1f3;
}

.flex_nav, .navbar .bottom_navbar, .navbar .top_navbar .top_navbar_div, .navbar .top_navbar, .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 80px;
  height: 100vh;
  justify-content: space-between;
  background-color: #23262f;
  padding: 15px 0;
}
.navbar .nav_button {
  position: absolute;
  background-color: #23262f;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  left: 58.5px;
  top: 11px;
}
.navbar .nav_button::before {
  width: 10px;
  height: 10px;
  aspect-ratio: 1;
  top: -9px;
  left: 21px;
  content: "";
  position: absolute;
  background-image: radial-gradient(circle at 100% 0, #eff1f3 10px, #23262f 10px);
}
.navbar .nav_button::after {
  width: 10px;
  height: 10px;
  aspect-ratio: 1;
  bottom: -9px;
  left: 21px;
  content: "";
  position: absolute;
  background-image: radial-gradient(circle at 100% 100%, #eff1f3 10px, #23262f 10px);
}
.navbar .navbar_btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #858585;
  border: none;
  transition: linear all 50ms;
  font-size: 10px;
}
.navbar .navbar_btn:hover {
  border-left: 3px solid #45b26b;
  color: #fff;
}
.navbar .top_navbar {
  gap: 45px;
  width: 100%;
}
.navbar .top_navbar .top_navbar_div {
  gap: 30px;
  width: 100%;
}
.navbar .bottom_navbar {
  gap: 20px;
  color: #fff;
  width: 100%;
  border-top: 1px solid #6d6585;
  padding: 20px 0;
}

.btn, .addOrEdit__Chekkers .button, .specializations .addOrEdit .clear_all .clear_all_btn, .specializations .addOrEdit .modules_list .addOrEdit_modules .button, .table__section .tabs .tabs__search .tabs__search__buttons .add_Specialization, .table__section .tabs .tabs__search .tabs__search__buttons button, .table__section .tabs .tabs__buttons .tabs__userBtn {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.table__section .tabs {
  margin-top: 30px;
}
.table__section .tabs button {
  cursor: pointer;
}
.table__section .tabs .tabs__buttons {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-left: 45px;
}
.table__section .tabs .tabs__buttons .tabs__leftDiv {
  display: flex;
  gap: 10px;
}
.table__section .tabs .tabs__buttons .tabs__leftDiv .leftDiv__btn {
  width: 173px;
  height: 28px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  border-right: 1px solid #000;
}
.table__section .tabs .tabs__buttons .tabs__leftDiv .leftDiv__btn__light {
  background: #fff;
  border: none;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.table__section .tabs .tabs__buttons .tabs__leftDiv .leftDiv__btn__light::before,
.table__section .tabs .tabs__buttons .tabs__leftDiv .leftDiv__btn__light::after {
  width: 11px;
  height: 11px;
  background: #fff;
  content: "";
  position: absolute;
  aspect-ratio: 1;
  bottom: 0;
  z-index: -1;
}
.table__section .tabs .tabs__buttons .tabs__leftDiv .leftDiv__btn__light::before {
  left: -11px;
  background-image: radial-gradient(circle at 0px 0px, #eff1f3 10px, #fff 10px);
}
.table__section .tabs .tabs__buttons .tabs__leftDiv .leftDiv__btn__light::after {
  right: -11.5px;
  background-image: radial-gradient(circle at 10px 0, #eff1f3 10px, #fff 10px);
}
.table__section .tabs .tabs__buttons .tabs__leftDiv .light_1 {
  border: none;
}
.table__section .tabs .tabs__buttons .tabs__userBtn {
  background: #23262f;
  border: none;
  height: 25px;
  margin-bottom: 5px;
}
.table__section .tabs .tabs__search {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  margin-top: -1px;
}
.table__section .tabs .tabs__search .tabs__search__input {
  position: relative;
}
.table__section .tabs .tabs__search .tabs__search__input img {
  position: absolute;
  z-index: 2;
  top: 2px;
}
.table__section .tabs .tabs__search .tabs__search__input input {
  width: 320px;
  height: 30px;
  padding: 0 24px;
  border: none;
  border-right: 1px solid #000;
}
.table__section .tabs .tabs__search .tabs__search__input input:focus {
  border: 1px solid #000;
  border-radius: 5px;
}
.table__section .tabs .tabs__search .tabs__search__input .arrow__icon {
  right: 15px;
}
.table__section .tabs .tabs__search .tabs__search__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.table__section .tabs .tabs__search .tabs__search__buttons .add_Specialization {
  background: #45b26b;
  text-decoration: none;
}
.table__section .tabs .tabs__search .tabs__search__buttons .four__divs__btn {
  width: 33px;
  height: 33px;
  display: grid;
  gap: 1px;
  padding-top: 10px;
  padding-left: 10px;
  grid-template-columns: 48% 48%;
  grid-template-rows: 48% 48%;
}
.table__section .tabs .tabs__search .tabs__search__buttons .four__divs__btn div {
  width: 100%;
  height: 100%;
  background: #45b26b;
  border-radius: 2px;
}
.table__section .tabs .tabs__search .tabs__search__buttons .two__divs__btn {
  width: 33px;
  height: 33px;
  display: grid;
  gap: 1px;
  grid-template-columns: 110%;
  grid-template-rows: 50% 50%;
  background: transparent;
}
.table__section .tabs .tabs__search .tabs__search__buttons .two__divs__btn div {
  width: 100%;
  height: 100%;
  background: rgb(114, 114, 114);
  border-radius: 3px;
}

.page__section {
  display: flex;
}
.page__section .table__section {
  width: calc(100% - 80px);
  height: 100vh;
}

.btn, .addOrEdit__Chekkers .button, .specializations .addOrEdit .clear_all .clear_all_btn, .specializations .addOrEdit .modules_list .addOrEdit_modules .button, .table__section .tabs .tabs__buttons .tabs__userBtn, .table__section .tabs .tabs__search .tabs__search__buttons button, .table__section .tabs .tabs__search .tabs__search__buttons .add_Specialization {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.specializations {
  width: 100%;
  padding: 20px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.specializations .left_div,
.specializations .right_div {
  width: 50%;
  height: 560px;
  background: #fff;
  padding: 15px;
  color: #fff;
  border-radius: 15px;
}
.specializations .left_div .title_div,
.specializations .right_div .title_div {
  width: 100%;
  padding: 10px 20px;
  background: #23262f;
  border-radius: 5px;
  margin-bottom: 15px;
}
.specializations .left_div .specializations__list, .specializations .left_div .specializations__list .list__infos, .specializations .left_div .specializations__list .list__index__spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specializations .left_div .specializations__list .list__index__spec {
  gap: 15px;
}
.specializations .left_div .specializations__list .list__infos {
  gap: 50px;
  text-align: start;
}
.specializations .left_div .specializations__list .list__infos .degree,
.specializations .left_div .specializations__list .list__infos .noDegree {
  font-size: 11px;
}
.specializations .left_div .specializations__list .list__infos .degree {
  color: #000;
  width: 60px;
}
.specializations .left_div .specializations__list .list__infos .noDegree {
  color: gray;
}
.specializations .left_div .specializations__list .list__infos .active,
.specializations .left_div .specializations__list .list__infos .inActive {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #fff;
  padding: 3px 0;
  width: 70px;
}
.specializations .left_div .specializations__list .list__infos .active {
  background: #45b26b;
}
.specializations .left_div .specializations__list .list__infos .inActive {
  background: #ef466f;
}
.specializations .left_div .specializations__list .list__infos .action_btn {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specializations .left_div .specializations__list .list__infos__item {
  gap: 30px;
}
.specializations .left_div .item {
  background: #eff1f3;
  color: #000;
  transition: linear all 150ms;
}
.specializations .left_div .item:hover {
  background: #b5b5b5;
}
.specializations .left_div .itemsOfSpecializations {
  width: 102%;
  padding: 0 5px 0 0;
  height: 493px;
  overflow-y: scroll;
}
.specializations .left_div ::-webkit-scrollbar {
  width: 7px;
}
.specializations .left_div ::-webkit-scrollbar-thumb {
  background: rgb(171, 171, 171);
  border-radius: 10px;
  transition: linear all 150ms;
}
.specializations .left_div ::-webkit-scrollbar-thumb:hover {
  background: rgb(101, 101, 101);
}
.specializations .right_div .module_div {
  background: #eff1f3;
  color: #000;
}

.btn, .addOrEdit__Chekkers .button, .specializations .addOrEdit .clear_all .clear_all_btn, .specializations .addOrEdit .modules_list .addOrEdit_modules .button, .table__section .tabs .tabs__buttons .tabs__userBtn, .table__section .tabs .tabs__search .tabs__search__buttons button, .table__section .tabs .tabs__search .tabs__search__buttons .add_Specialization {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.specializations .addOrEdit {
  height: 500px;
  color: #000;
}
.specializations .addOrEdit .modules_list {
  position: relative;
  left: -15px;
  width: 104.5%;
  height: 60%;
  overflow-y: scroll;
  border-top: 1px solid rgb(213, 213, 213);
  border-bottom: 1px solid rgb(213, 213, 213);
}
.specializations .addOrEdit .modules_list .addOrEdit_modules {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.specializations .addOrEdit .modules_list .addOrEdit_modules .modules_dot_module {
  display: flex;
  align-items: center;
  gap: 20px;
}
.specializations .addOrEdit ::-webkit-scrollbar {
  width: 7px;
}
.specializations .addOrEdit ::-webkit-scrollbar-thumb {
  background: rgb(171, 171, 171);
  border-radius: 10px;
  transition: linear all 150ms;
}
.specializations .addOrEdit ::-webkit-scrollbar-thumb:hover {
  background: rgb(101, 101, 101);
}
.specializations .addOrEdit .clear_all {
  width: 100%;
  display: flex;
  justify-content: end;
}
.specializations .addOrEdit .clear_all .clear_all_btn {
  color: #3772ff;
  background: rgb(234, 240, 255);
}
.specializations .left {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}
.specializations .left input {
  background: #eff1f3;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  padding: 5px;
}
.specializations .left .desc_input {
  height: 48px;
}
.specializations .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.specializations .right .right_modules {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0 0 20px;
  width: 200px;
  height: 87px;
  background: #23262f;
  color: #fff;
  font-size: 17px;
  border-radius: 9px;
  transition: linear all 150ms;
}
.specializations .right .right_modules .right_modules_btn {
  position: absolute;
  right: 8px;
  top: 9px;
  width: 35px;
  height: 80%;
  border: none;
  background: #45b26b;
  border-radius: 105px 18px 18px 105px;
}
.specializations .right .right_modules .right_modules_btn .modules_btn_p {
  font-size: 25px;
  transition: linear all 150ms;
}
.specializations .right .right_modules .right_modules_btn .modules_btn_p_rotated {
  transform: rotate(45deg);
}
.specializations .right .right_modules .right_modules_btn_clicked {
  background: #ef466f;
}
.specializations .right .right_modules .isActive_p {
  position: absolute;
  font-size: 11px;
  left: 10px;
  bottom: 10px;
  color: #45b26b;
}
.specializations .right .right_modules .isActive_p_false {
  color: #ef466f;
}
.specializations .right .right_modules_clicked {
  background: #eff1f3;
  color: #000;
}

.addOrEdit__Chekkers {
  width: 100%;
  height: 55px;
  padding: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.addOrEdit__Chekkers .btn_checker {
  border: 1px solid rgb(189, 189, 189);
  display: flex;
  align-items: center;
  color: #000;
}
.addOrEdit__Chekkers .btn_checker .check_p {
  margin: 0 5px;
}
.addOrEdit__Chekkers .btn_cancel {
  color: #ef466f;
  text-decoration: none;
  background: #ffd3de;
}
.addOrEdit__Chekkers .btn_save {
  background: #45b26b;
}

/*# sourceMappingURL=index.css.map */
